---
# https://gist.github.com/kjk/298216da8cb4c665075b#file-3-5-llvm-txt
BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 2
TabWidth: 2
ColumnLimit: 79
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
AccessModifierOffset: -1
ContinuationIndentWidth: 2
BreakBeforeBraces: Attach
InsertBraces: true
BinPackArguments: false
BinPackParameters: false

# https://clang.llvm.org/docs/ClangFormatStyleOptions.html#alignafteropenbracket
AlignAfterOpenBracket: BlockIndent

# https://clang.llvm.org/docs/ClangFormatStyleOptions.html#allowallargumentsonnextline
AllowAllArgumentsOnNextLine: false

# https://clang.llvm.org/docs/ClangFormatStyleOptions.html#allowallparametersofdeclarationonnextline
AllowAllParametersOfDeclarationOnNextLine: false

# https://clang.llvm.org/docs/ClangFormatStyleOptions.html#separatedefinitionblocks
SeparateDefinitionBlocks: Always

# https://clang.llvm.org/docs/ClangFormatStyleOptions.html#removeparentheses
EmptyLineBeforeAccessModifier: Always

# https://clang.llvm.org/docs/ClangFormatStyleOptions.html#removesemicolon
RemoveSemicolon: true

# https://clang.llvm.org/docs/ClangFormatStyleOptions.html#removeparentheses
RemoveParentheses: ReturnStatement

# https://clang.llvm.org/docs/ClangFormatStyleOptions.html#alignoperands
AlignOperands: DontAlign

# https://clang.llvm.org/docs/ClangFormatStyleOptions.html#requiresexpressionindentation
RequiresExpressionIndentation: OuterScope

# https://clang.llvm.org/docs/ClangFormatStyleOptions.html#alwaysbreaktemplatedeclarations
AlwaysBreakTemplateDeclarations: Yes

# https://clang.llvm.org/docs/ClangFormatStyleOptions.html#fixnamespacecomments
FixNamespaceComments: true

# https://clang.llvm.org/docs/ClangFormatStyleOptions.html#namespaceindentation
NamespaceIndentation: None

# https://clang.llvm.org/docs/ClangFormatStyleOptions.html#reflowcomments
ReflowComments: false

---
Language: Cpp
Standard: c++20
DerivePointerAlignment: false
PointerAlignment: Left
...
